@import "../valo/valo.scss";
@import "../../../../../../src/main/webapp/VAADIN/addons/hybrid-menu/hybrid-menu.scss";

@mixin app {
  @include valo;
  @include hybrid-menu;

  .v-grid {
    color: black;
  }

  .v-grid-row-stripe > .td {
    background-color: rgb(83,83,83);
    content: "fuck";
  }
}
